@charset "utf-8";
@font-face 
{
    font-family: 'fira_sans_extra_condensedRg';
    src: url('../font/firasansextracondensed-regular-demo.html');
    src: url('../font/firasansextracondensed-regular-webfont.eot') format('embedded-opentype'),
         url('../font/firasansextracondensed-regular-webfont.woff2') format('woff2'),
         url('../font/firasansextracondensed-regular-webfont.woff') format('woff'),
         url('../font/firasansextracondensed-regular-webfont.ttf') format('truetype'),
         url('../font/firasansextracondensed-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*
	Assignment:Fianl_Portfolio
	Author: Prafulla Kalusinh Garasia
	Student No.: 0797964
    Date:2023-04-01
	Filename: Portfolio.css
	Copyright: 2023-All rights reserved   
*/

/*
Color Guide:

1.rgb(255, 255, 255)
2.#140d0d
3.hsl(62, 100%, 52%)
4.rgb(255, 222, 4)
5.#f2f2f2
6.black
7.white
8.rgb(0, 0, 0)
9.rgb(255, 255, 255)
10.hsl(0, 0%, 100%)
11.#000000
*/

/*
Typography Guide:

1.'Oswald',Verdana, Geneva, Tahoma, sans-serif
2.'Roboto Condensed',Arial, Helvetica, sans-serif
3.'fira_sans_extra_condensedRg',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
*/

/*
Table of Contents:

1.HTML & Body Styles
2.Main Styles
3.Heading Styles 
4.Navigation Styles
5.List Styles
6.Paragraph Styles
7.Image Styles 
8.Form Input & Label Styles 
9.Form Layout Styles
10.Footer Styles
11.For Social Media logo
12.For mobile phones
*/

/*------------------------------------------------1.HTML & Body Styles---------------------------------------------------------*/

html 
{	
	margin: 0px auto;
}

body 
{
	width: 90%;
	padding-left: 4.50%;
	padding-right: 4.50%;
	margin: 0px auto auto auto;
	background-color: #140d0d;
	background-repeat: no-repeat;
    background-size: cover;
}

/* -------------------------------------------------2.Main Styles-------------------------------------------------------------------- */

main
{ 
    overflow: hidden;
}

/* ---------------------------------------------------3.Heading Styles------------------------------------------------------------------------- */

h1
{	
	text-align: center;
	padding-top: 5%;
	font-size: 4em;
	margin: 10px 0 10px ;
	text-shadow: 2px 2px 8px #fffffff5;
	text-decoration-color: rgb(255, 255, 255); 
}

.header {
	text-align: left;
	padding-top: 5%;
	font-size: 3em;
	text-shadow: 2px 2px 8px rgb(255, 222, 4);
	 
	font-family: 'Oswald',Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	
  }
  

h2
{	
	text-align: left;
	font-size: 2em;
	margin: 0 0 10px ;
	padding-top: 12px;
}

h3
{
	text-align: left;
	font-size: 1.5em;
	color:#B4D000;
	font-family: 'Oswald',Verdana, Geneva, Tahoma, sans-serif;
	text-transform:capitalize;
	text-decoration: underline;
	margin-top: 1em;
}

h1,h2
{
	font-family: 'Oswald',Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	color:rgb(255, 222, 4);
}

/* --------------------------------------------------------4.Navigation Styles---------------------------------------------------------- */

.navbar 
{
    background: #140d0d;
}
.navbar-brand img
{
	width: 100px;
	height: 100px;
	filter: none;
    
}
.nav-link, .navbar-brand 
{
    color: #f2f2f2;
	text-decoration: none;
  	font-size: 20px;
	text-transform: uppercase;
	font-family: 'fira_sans_extra_condensedRg',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

.nav-link 
{
    margin-right: 1em !important;
}

.nav-link:hover 
{
	background-color: rgb(255, 222, 4);
	color: black;
	text-decoration:underline;
}

.navbar-collapse 
{
    justify-content: flex-end;
}

/* -------------------------------------------------5.List Styles ---------------------------------------------------------------*/

ul
{
	list-style-type: square;
}

li
{
	margin-left: 2em;
	margin-top: 1%;
	font-family: 'Roboto Condensed',Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	line-height: 1em;
	font-style: normal;
	color:hsl(0, 0%, 100%);
}

/* ---------------------------------------------------------------6.Paragraph Styles------------------------------------------------------------*/

p
{	
	margin: 3.5% 1%;
	font-size: 1.5em;
	color:hsl(0, 0%, 100%);
	font-family: 'Roboto Condensed',Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 1em;
}

/* -----------------------------------------------------------------7.Image Styles --------------------------------------------------------------*/

img
{	
	float: right;
	width: 250px;
    margin-top: 4%;
	margin-right: 3%;
	filter: drop-shadow(8px 8px 10px gray);
	border-radius: 25%;
}

/* -----------------------------------------------------------------------8.Form Input & Label Styles------------------------------------------- */

label,
input {
  display: block;
  font-size: 1em;
}

label {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-family: 'Vollkorn', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
}

input,textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width:16%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin-left: 3%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  font-family: 'Vollkorn', Georgia, 'Times New Roman', Times, serif;
}

/* -------------------------------------------------------------------9.Form Layout Styles---------------------------------------------------- */
fieldset {
  background-color: rgba(255, 213, 2, 0.686);
  border-radius: 20px;
  font-size: 1em;
  padding: 15px;
  margin: 5px;
}

form {
  margin: 0 auto;
  width: 50%;
  max-width: 800px;
}


/* --------------------------------------------------------------------10.Footer Styles----------------------------------------------------------- */

footer 
{	
	border-top: 2px outset rgb(255, 255, 255);
}

footer p 
{	
	text-align: center;
	font-size: 1.2em;
	font-family: 'Roboto Condensed',Arial, Helvetica, sans-serif;
	color:hsl(0, 0%, 100%);
}
/*------------------------------------------------------------11.For Social Media logo------------------------------------------------------------*/
.fa 
{
	
	padding: 20px;
	font-size: 20px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	float: right;
}

.fa:hover 
{
	opacity: 0.7;
	color:#B4D000;
}
  
.fa-facebook 
{
	color: white;
}
  
.fa-linkedin 
{
	color: white;
}
.fa-instagram 
{
	color: white;
}

.fa-github {
	color: white;
}
/* -----------------------------------------------------------------------------------12.For mobile phones: -----------------------------------*/
@media only screen and (max-width: 667px) 
{
	
	main 
	{
	  	width: 100%;
	}
	.nav-link {
		text-align: center;
	}
	img
	{	
		width: 220px;
		padding-top: 2%;
		float: none;
		margin-left: 15%;
	}
	input 
	{
		width: 85%;
	}
	textarea
	{
		width: 83%;
	}
	input[type=submit] 
	{
		width: 30%;
		font-size: 1em;
	}
	
	form 
	{
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
  	}
  
	footer p 
	{	
		font-size: 1em;
	}
	.fa 
  	{
		padding: 10px;
		font-size: 15px;
		width: 10px;
  	}
}